@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    background-color: hsl(0, 0%, 100%);
    font-size: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
}
.result-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
.result1{
    background-image:  linear-gradient(hsl(252, 100%, 67%) 25%,hsla(256, 72%, 46%, 1) 75%);
    padding: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 55px;
    color: hsla(241, 72%, 46%, 0);
    background-color: hsla(256, 72%, 46%, 1);
}
h1 {
    font-size: 25px;
}
.data-item p{
    display: inline-block;
    margin: 0;
}
.data-item{
    margin-top: 10px;
    padding-left: 10px;
}
.result2 {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
}
#reaction {
    background-color: hsla(0, 78%, 69%, 0.05);
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#memory {
    background-color: hsla(39, 100%, 56%,0.05);
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#verbal {
    background-color: hsla(166, 100%, 37%,0.05);
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#visual {
    background-color: hsla(234, 85%, 45%,0.05);
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score {
    padding-left: 200px;
}
.score1 {
    padding-left: 210px;
}

.button {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    color:#ffffff;
  }
  .pad {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 18px;
}
.seven {
    position: absolute;
    padding-left: 2rem;
    top: 4rem;
}
.number {
    position: absolute;
    top: 1rem;
    padding-left: 2rem;
}

@media screen and (min-width: 570px) {
    .result {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid white;
    }
    .result-container {
        width: 80%;
        height: 333px;
        max-width: 500px;
        margin-top: 90px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        box-shadow: 10px 10px rgba(148, 135, 232, 0.2);
        border-radius: 30px;
    }
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 48px;
        color: hsla(241, 72%, 46%, 0);
        background-color: hsla(256, 72%, 46%, 1);
    }
    .result1 {
        background-image:  linear-gradient(hsl(252, 100%, 67%) 25%,hsla(256, 72%, 46%, 1) 75%);
        border-radius: 20px;
        width:100%;
        height: 310px;
        max-width: 1000px;
        color: #ffffff;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: auto;
    }
    h1{
        text-align: center;
        font-size: 18px;
    }
    .result2 {
        display: block;
        padding-left: 0px;
        padding-top: 20px;
        padding-right: 0px;
    }
    .data-item {
        margin-top: 17px;
        padding-left: 0px;
    }
    .score {
        padding-left: 90px;
    }
    .score1 {
        padding-left: 100px;
    }
    .category {
        text-align: left;
    }
    .data-item p {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .button {
        margin-top: 20px;
        width: 100%;
        height: 30px;
        border-radius: 30px;
        background-color: hsl(224, 30%, 27%);
        color:#ffffff;
      }
      .result1 p {
        text-align: center;
        font-size: 12px;
      }
      .head{
        padding-top: 20px;
      }
      .circle p {
        color: #ffffff;
        font-size: 10px;
      }
    .circle p:first-child {
        padding-top: 20px;
        padding-bottom: 1px;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }
    .circle p:nth-child(2) {
        padding-bottom: 20rem;   
    }
    .seven {
        position: absolute;
        padding-left: 1.5rem;
        top: 9rem;
    }
    .number {
        position: absolute;
        top: 14.8rem;
        padding-left: 2.1rem;
    }
    .pad {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        font-size: 9px;
    }
    .result2 h1 {
        text-align: left;
        font-size: 18px;
    }
    .data-item p{
        display: inline-block;
        margin: 0;
    }
    #reaction {
        background-color: hsla(0, 78%, 69%, 0.05);
        border-radius: 10px;
        height: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #memory {
        background-color: hsla(39, 100%, 56%,0.05);
        border-radius: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #verbal {
        background-color: hsla(166, 100%, 37%,0.05);
        border-radius: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #visual {
        background-color: hsla(234, 85%, 45%,0.05);
        border-radius: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}